body{
	background-image: url(../Illustrations/Bathome1.png); 
	margin:0;

}
}
nav ul li{
	display:inline-block;
}
li a{
	margin-left: 900px;
	color: white;
	vertical-align:0;
	margin-top: 100px;
}
.item1{
	text-align: center;
	color: white;
	font-family: Rajdhani, sans-cherif;
	margin-top: 310px;
}
.item2{
	text-align: center;
	font-weight: bold;
	font-size: 20px;
}
/* bouton1 */
button{
	display: inline;
	margin-right: 10px;
	width: 200px;
	background: gray;
	opacity: 0.5;
	border: none;

}
button:hover{
	box-shadow: 0 4px 8px 0;
	color: red;

}
.hero{
	font-family: Rajdhani, sans-cherif;
	text-align: center;
	color: white;
	padding:20px;
	margin-left: 500px;

}
.advesaire{
	padding: 20px;
	color: white;
}
section{
display: block;
}
.réseaux{
	text-align: center;
	margin-left: 1120px;
	line-height: 50px;
	flex-direction: column;
	position: fixed;

}
ul li {
	list-style-type: none;

}
.item3{
	background-color: black;	
}
.flèchebas{
	margin-left: 675px;
	margin-top: 150px;

}
.image0{
	margin-top: 50px;
}
.bordure0{
	border : 0.5px solid;
    border-width: 2px;
    border-color: gray;
    opacity: 0.5;
    margin:50px;
    height: 150px; 

}
.itemI{
	color: white;
	margin-left: 150px;
}
.texta{
	margin-right: 250px;
}
/* bathome234*/
.image1{
	display: inline-flex;

}
.bathome3{
	margin-left: 50px;
}
.bathome4{
	margin-left: 50px;
}
.sous-titre1{
	display: inline-flex;
}
.robert{
	margin-left: 50px;
	text-align: center;
}
.christian{
	margin-left: 250px;
	text-align: center;
}
.ben{
	margin-left: 150px;
	text-align: center;
}
.sectionII{
	list-style-type: none;
	display: inline;
}
.fly{
	margin-top: 50px;
	width: 150px; 
	display: inline;
	margin-left: -100px;

}
.test ul{
	display: inline;
	
}
.némésis{
	display: inline;
	margin-right: -30px;
	font-size: 30px;
}
/* bathome567 */
.bathome567{
	display: inline-flex;
}
.text2{
	margin-right: 250px;
}
.bathome6{
	margin-left: 50px;
}
.bathome7{
	margin-left: 50px;
}
.sous-titre1{
	display: inline-flex;
}
.riddler{
	margin-left: 50px;
	text-align: center;
}
.joker{
	margin-left: 150px;
	text-align: center;

}
.darkeseid{
	margin-left: 150px;
	text-align: center;
}
.sectionIII{
	background-color: black;
}
.bathome12{
	float: right;

}
.alliée{
	margin-right: 300px;
	margin-top: 300px;
}
.alliées{
	font-size: 30px;
}
/* saison2 */

.saison2{
	display: inline-flex;
}
.bathome8{
	margin-left: 50px;
}
.bathome10{
	margin-left: 50px; 
}
.alfred{
	margin-left: -500px;
	text-align: center;
}
.catwoman{
	margin-left: 200px;
	margin-top: -70px;
	text-align: center;
}
.james{
	margin-left: 800px;
	margin-top: -70px;
	text-align: left; 
}
.gordon{
	margin-left: 860px;
	margin-top: -40px;
}
.date1{
	margin-left: 815px;
	margin-top: -15px;
}
.terre{
	margin-right: 250px;
}
/* justice */
.saison3{
	background:black;
}
.justice{
	margin-bottom: 50px;
	margin-top: 70px;
	font-size: 25px;
}
.bathome11{
	width: 1200px;
	margin-top: 50px;
	margin-left: -100px;

}
.flèche1{
	margin-top: 220px;
	margin-left: 1000px;
}
.begin{
	margin-bottom: -300px;
	margin-left: 250px;

}
.flèche2{
	float: left;
	margin-top: 230px;

}
.média{
	font-size: 25px;
}
.rectangle{
	margin-bottom: -300px;
	width: 200px;
	height: 100px;
}
.rectangle p h3{
	margin-top: 05px;
}
.begins{
	margin-bottom: 30px;
	padding-left: 10px;
}
.action{
	margin-bottom: -40px;
	padding-left: 10px;
}
.jeune{
	padding-left: 10px;
}
.ba2{
	margin-top: 150px;
}
/* contact */

.new{
	font-size: 20px;
}

/* contact */