@import url('https://fonts.googleapis.com/css2? family= Rajdhani:wght@300;400;500;600;700 & family= Space+Grotesk:wght@400;500 & display= échanger');
@import url('https://fonts.googleapis.com/css2? famille= Rajdhani:wght@300;400;500;600;700 & display=swap');
body{
	background-color: black;
	background-position: fixed;
	font-family: Rajdhani, sans-cherif;
	margin: 0;
	margin-right: 0;
	margin-left: 0;
	border-top: none;
	border-bottom: none;
	width: 1400px;
	
	
}
main{
	border: 1px solid grey;
	border-width: 2px 2px 2px 2px;
	border-bottom: none;
	border-top: none;
}


/* header */

header{
	background-color: black;
	background-position: top center;
	background-size: cover; 
	border-width: 50px;
    
}
header .home:hover{
	text-shadow: 3px;
	color: #f8f184;
}
nav {
	text-decoration: none;
}
h1{
	font-family: 'Rajdhani'
	font-size: 25px;
}
h4{
	font-family: 'Rajdhani'
}
.nouveau-section{
	background-image: url(../Illustrations/Bathome1.png);
	background-repeat: no-repeat;
}

/* header-section-header */

.section-header{
	border: 1px solid grey;
	border-width: 2px 2px 2px 2px;
	padding: 50px;
	width: 1100px;
	height: 100px;
	margin-left: 100px;
	display: inline-block;
	list-style-type : none;
}
.logohome{
	margin-top: -50px;
}
.logohome :hover{
	background-color: red;
}
.home {
	margin-left: 1000px;
	margin-bottom: -90px;
	text-decoration: none;
	color: white;
	text-decoration: underline;
}
/* header-section-header */

/* header-section-nav */

.section-nav{
	text-align: center;
	margin-left: 1130px;
	flex-direction: column;
	position: fixed;
	text-decoration: none;
}

/* header-section-nav */

/* header-section-intro */
.section-intro{
	text-align: center;
	color: white;
	font-size: 20px;
	padding-top: 300px;
}
.lettre-intro{

}
.Batman{
	font-size: 25px;
}

/* header-section-intro */

/* header-section-boutton */

.section-intro-button{
	text-align: center;
	font-size: 15px;
	color: grey;
	opacity: 0.5;
	border-style: none;
	margin-bottom: 500px;
}
nav ul li{
	color: white;
	text-decoration: 0; 

}
button{
	background-image: linear-gradient(80deg,#eddebf,#890008);
	width: 200px;
	height: 50px;
	text-decoration: 0;
	border-style: none;
}
button:hover{
	box-shadow: 0 4px 8px 0;
	color: white;

}

/* header-section-boutton */

/* header-section-flèche */
.section-flèche{
	text-align: center;
	margin-top: 550px;

}
/* header-section-flèche */

/* header */ 

/* main */

/*section-1 */

.section-1{
	color: white;
	text-align: justify;
	padding-right: 50px;
	margin-right: 400px;
	margin-left: 200px;

}
/*section-1 */

/*section-2 */
.section-2{
	display: inline-flex;
    margin-left: 150px;

}
/*section-2 */

/*section-3 */
.section-3 nav li{
	color: white;
	font-size: 25px;
	text-decoration: none;
}
.bathome13{
	margin-left: 100px;
}
.nemisis{
	margin-top: -100px; 
	margin-left: 155px;
	text-decoration: 0;
	color: white;
	font-size: 30px;
}
.batman-ennemis{
	color: white;
	margin-right: 400px;
	margin-left: 200px;
	font-size: 20px;
}
.image-ennelis{
	display: inline-flex;
    margin-left: 150px;
    font-size: 25px;

}

/*section-3 */

/*section-4 */
.bathome-12{
	float: right;
}

/*section-4 */

/*section-5 */
.section-5{
	color: white;
	margin-top: 300px;
	margin-right: 400px;
	margin-left: 200px;
}
.image-allies{
	display: inline-flex;
	margin-left: -50px;
	margin-top: 25px;
}
figcaption{
	color: white;
	text-align: center;
	
}
/*section-5 */

/*section-6 */
.section-6{
	color: white;
	margin-right: 400px;
	margin-left: 200px;	

}
.justice-leage-img{
	margin-top: 100px;
	margin-left: -300px;
}
/*section-6 */

/*section-7 */
.section-7{
	color: white;
	margin-right: 400px;
	margin-left: 200px;	

}
.flèche-droite{
	margin-left: 900px;
	margin-top: -200px;
	margin-bottom: 20px;

}
.flèche-gauche{
	margin-top: 200px;

}
.batman-begin-img{
	margin-top: -200px;
	margin-left: 200px;
}
.action-aventure{
	width: 400px;
    height: 230px;
    background-color: gray;
    margin-left: 355px;
    margin-top: -250px;
    opacity: 0.6;
    padding-left: 10px;
    padding-right: 20px;
    text-align: justify;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;  	
}
.action{
	margin-left: -10px;
}

/*section-7 */

/*section-8 */
.section-8{
	margin-top: 100px;
	text-align: center;
}

/*section-8 */

/*section-9*/

#contact{
	background-color: darkslategrey;
	padding: 70px 0;
	color: white;
	
}
#contact .form{
	width: 50%;
	margin: 0 auto;

}
#contact .hd{
	text-align: center;
	font-size: 30px;
	margin-bottom: 32px;
}
#contact .titre{
	display: block;
	margin: 28px 0;
}
#contact .form input[type='email'], textarea{
	display: block;
	border-top: none;
	border-right: none;
	border-left: none;
	width: 80%;
	border-bottom: 2px solid rgb(120, 120, 120);
	background-color: transparent;
	padding-top: 10px 0;
	margin-top:  22px; 
}
#contact .form .icon img{
	transform: rotate(90deg);
	width: 22px;
	margin-left: 680px;
	margin-top: -100px;
}
#contact .fréquence{
	margin-bottom: -5px;
	margin-top: -35px;
	border-bottom: 2px solid rgb(120, 120, 120);
}
#contact .case{
	font-size: 20px;

}
#contact .news{
	margin: 15px 0;
	border-bottom: 2px solid rgb(120, 120, 120);
}

::-webkit-input-placeholder{
	color: #f8f184;
	font-size: 15px;
}
::-moz-placeholder{
	color: #f8f184;
	font-size: 15px;
}
::-ms-input-placeholder{
	color: #f8f184;
	font-size: 15px;
}
::-ms-input-placeholder{
}
::placeholder{
	color: #f8f184;
	font-size: 15px;
}
.form input[type='radio']{
	opacity: 0;
}
.btn-groupe{
	padding: 10px;
	display: flex;
	justify-content: space-around;
}
.btn-groupe label{
	cursor: pointer;
	padding: 20px;
	border: 2px solid;
	border-color: white;
	  -o-border-image: ;
	  border-image: linear-gradient(69deg,red,blue) 1;
	  font-size: 22px;
}
.btn-groupe :hover{
	text-shadow: 5px;
	color: red;
}
input[type='submit']{
	display: block;
	height: 50px;
	width: 230px;
	margin: 25px auto;
	cursor: pointer;
	background-image: linear-gradient(80deg,#eddebf,#890008);
	border: none;
}

/*footer */
footer{
	background-color: black;
	margin-top: 200px;
}
.dernier-commentaire{
	text-align: center;
	color: white;
	font-size: 10px;
}
.guillement-1{
	margin-left: 100px;
}
.guilliement-2{
	margin-left: 1200px;

}
.loges-WB{
	color: white;
}
.fin-projet{
	margin-left: 500px;
}
.icon-WB{
	margin-left: 450px;
	margin-bottom: -50px;
}
.dernier-logos{
	text-decoration: none;
	margin-bottom: -300px;
	display: inline-flex; 
	margin-left: 500px;

}
.rond{
	color: blue;
}

/*footer */





