body{
	background-color: black;
	background-position: fixed;
	font-family: Rajdhani, sans-cherif;
	margin: 0;
	padding: 0;
	margin-right: 0;
	margin-left: 0;
	border-top: none;
	border-bottom: none;
	width: 1400px;
	
	
}
main{
	border: 10px;
	border-color: red;
}

/* header */

header{
	background-color: black;
	background-position: top center;
	background-size: cover; 
	border-width: 50px;
    
}
nav {
	text-decoration: none;
}
.nouveau-section{
	background-image: url(../Illustrations/Bathome1.png);
	background-repeat: no-repeat;
}

/* header-section-header */

.section-header{
	border: 1px solid grey;
	border-width: 2px 2px 2px 2px;
	padding: 50px;
	width: 1100px;
	height: 100px;
	margin-left: 100px;
	display: inline-block;
	list-style-type : none;
}
.logohome{
	margin-top: -50px;
}
.home {
	margin-left: 1000px;
	margin-bottom: -90px;
	text-decoration: none;
	color: white;
	text-decoration: underline;
}
/* header-section-header */

/* header-section-nav */

.section-nav{
	text-align: center;
	margin-left: 1130px;
	flex-direction: column;
	position: fixed;
	text-decoration: none;

}

/* header-section-nav */

/* header-section-intro */
.section-intro{
	text-align: center;
	color: white;
	font-size: 20px;
	padding-top: 300px;
}
.lettre-intro{

}
.Batman{
	font-size: 25px;
}

/* header-section-intro */

/* header-section-boutton */

.section-intro-button{
	text-align: center;
	font-size: 15px;
	color: grey;
	opacity: 0.5;
	border-style: none;
	margin-bottom: 500px;
}
nav ul li{
	color: white;
	text-decoration: 0; 

}
button{
	background-image: linear-gradient(80deg,#eddebf,#890008);
	width: 200px;
	height: 50px;
	text-decoration: 0;
	border-style: none;
}
button:hover{
	box-shadow: 0 4px 8px 0;
	color: white;

}
/* header-section-boutton */

/* header-section-flèche */
.section-flèche{
	text-align: center;
	margin-top: 550px;

}
/* header-section-flèche */

/* header */ 

/* main */

/*section-1 */

.section-1{
	color: white;
	text-align: justify;
	padding-right: 50px;
	margin-right: 400px;
	margin-left: 200px;

}
/*section-1 */

/*section-2 */
.section-2{
	display: inline-flex;
    margin-left: 150px;

}
/*section-2 */

/*section-3 */
.section-3 nav li{
	color: white;
	font-size: 25px;
	text-decoration: none;
}
.bathome13{
	margin-left: 100px;
}
.nemisis{
	margin-top: -100px; 
	margin-left: 155px;
	text-decoration: 0;
	color: white;
	font-size: 20px;
}
.batman-ennemis{
	color: white;
	margin-right: 400px;
	margin-left: 200px;
	font-size: 20px;
}
.image-ennelis{
	display: inline-flex;
    margin-left: 150px;
    font-size: 25px;

}

/*section-3 */

/*section-4 */
.bathome-12{
	float: right;
}

/*section-4 */

/*section-5 */
.section-5{
	color: white;
	margin-top: 300px;
	margin-right: 400px;
	margin-left: 200px;
}
.image-allies{
	display: inline-flex;
	margin-left: -50px;
	margin-top: 25px;
}
figcaption{
	color: white;
	text-align: center;
	
}
/*section-5 */

/*section-6 */
.section-6{
	color: white;
	margin-right: 400px;
	margin-left: 200px;	

}
.justice-leage-img{
	margin-top: 100px;
	margin-left: -300px;
}
/*section-6 */

/*section-7 */
.section-7{
	color: white;
	margin-right: 400px;
	margin-left: 200px;	

}
.flèche-droite{
	margin-left: 900px;
	margin-top: -200px;
	margin-bottom: 20px;

}
.flèche-gauche{
	margin-top: 200px;

}
.batman-begin-img{
	margin-top: -200px;
	margin-left: 200px;
}
.action-aventure{
	width: 400px;
    height: 230px;
    background-color: gray;
    margin-left: 355px;
    margin-top: -250px;
    opacity: 0.6;
    padding-left: 10px;
    padding-right: 20px;
    text-align: justify;	
}
.action{
	margin-left: -10px;
}

/*section-7 */

/*section-8 */
.section-8{
	margin-top: 100px;
	text-align: center;
}

/*section-8 */

/*section-9*/

.reaction{
	background-color: rgba(98, 109, 109, 0.468);
	padding: 28px 0;
	margin-bottom: 50px;
}
.from{
	width: 50%;
	margin: 0 auto;
}
.from input [type='radio']{
	opacity: 0;

}
.from input [type='submit']{
	background-image: linear-gradient(gray;rgb(171, 39, 39));
}

.hc{
	text-align: center;
	font-size: 35px;
	margin-bottom: 35px;
}
.titre{
	display: block;
	margin: 20px 0;
	
}
.from input[type='email']{
	border-top: none;
	border-right: none;
	border-left: none;
	width: 80%;
	background-color: transparent;
	border-bottom: 2px solid rgb(120, 120, 120);
}
.pac{
	display: block;
	margin-left: 100px;
}
.icon{
	transform: rotate(90deg);
	text-align: center;
	width: 20px; 
}
.news{
	margin: 15px;
	border-bottom: 2px solid rgb(120, 120, 120,)
}
.bord{
	background-color: transparent;
	border-top:none;
	border-right: none;
	border-left-width: none;
}
::-webkit-input-placeholder{
	color: #f8f184;
	font-size: 15px;

}
::-moz-input-placeholder{
	color: #f8f184;
	font-size: 15px;

}
::-ms-input-placeholder{
	color: #f8f184;
	font-size: 15px;
}
::placeholder{
	color: #f8f184;
	font-size: 15px;

}

.btn-group label{
	cursor: pointer;
	border: 2px solid;
	paddding: 10px;
	-o-border-image: linear-gradient(69deg,rgb(210,201,201),rgb(0, 157,255))1;
	font-size: 20px;
}
input[type='submit']{
	display: block;
	width: 230px;
	margin:25px auto;
	padding: 15px;
	cursor: pointer;
	background-color: linear-gradient(white,gray,red);

}

/*footer */
footer{
	background-color: black;
	margin-top: 200px;
}
.dernier-commentaire{
	text-align: center;
	color: white;
	font-size: 10px;
}
.guillement-1{
	margin-left: 100px;
}
.guilliement-2{
	margin-left: 1200px;

}
.loges-WB{
	color: white;
}
.fin-projet{
	margin-left: 500px;
}
.icon-WB{
	margin-left: 450px;
	margin-bottom: -50px;
}
.dernier-logos{
	text-decoration: none;
	margin-bottom: -300px;
	display: inline-flex; 
	margin-left: 500px;

}
.rond{
	color: blue;
}

/*footer */
@media (max-width: 900px;){
	header{
		padding: 10px;
		margin: 15px;
	}
	h1{
		font-size: 10px;
	}
	h2{
		font-size: 8px;
	}
	h3{
		font-size: 5px;
	}
	h6{
		font-size: 2px;
	}
	main{
		padding: 10px;
		background-size: 20px;

	}
	footer{
		padding: 10px;
	}
}





